{% extends 'base.html' %}
{% block title %}<title>All Blogs</title>{% endblock title %}

{% block body %}
<div class="container mt-4">
  <h2>All Blog Posts</h2>
  <a href="{{ url_for('add_blog') }}" class="btn btn-primary mb-3">Add New Blog</a>

  {% for blog in blogs %}
    <div class="card mb-3">
      <div class="card-body">
        <h4>{{ blog.title }}</h4>
        <p>{{ blog.content }}</p>
        <small>By {{ blog.author }} | {{ blog.date_posted.strftime('%Y-%m-%d %H:%M') }}</small>
        <br>
        <a href="{{ url_for('edit_blog', id=blog.id) }}" class="btn btn-warning btn-sm">Edit</a>
        <a href="{{ url_for('delete_blog', id=blog.id) }}" class="btn btn-danger btn-sm">Delete</a>
      </div>
    </div>
  {% else %}
    <p>No blogs yet.</p>
  {% endfor %}
</div>
{% endblock body %}
