{%extends 'base.html'%}
{%block title%}
<title>Register</title> 
{%endblock title%}



{%block body%}

<!-- form start here -->
<div class="container">
    <h1 class="text-center">REGISTER PAGE</h1>
    <form class="row g-3" method="POST">
        <div class="col-md-6">
          <label>Email</label>
          <input type="email" class="form-control" name="email">
        </div>
        <div class="col-md-6">
          <label>Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        <div class="col-12">
          <label>First Name</label>
          <input type="text" class="form-control" name="first_name">
        </div>
        <div class="col-12">
          <label>Last Name</label>
          <input type="text" class="form-control" name="last_name">
        </div>
        <div class="col-md-6">
          <label>Username</label>
          <input type="text" class="form-control" name="username">
        </div>
        <div class="col-md-4">
          <label>Course</label>
          <select class="form-select" name="course">
            <option selected>Choose...</option>
            <option>BCA</option>
            <option>BSC</option>
            <option>BTECH</option>
            <option>BCOM</option>
          </select>
        </div>
        <div class="col-md-2">
          <label>Student Code</label>
          <input type="text" class="form-control" name="student_code">
        </div>
        <div class="col-12">
          <input class="form-check-input" type="checkbox" name="gridCheck">
          <label>Check me out</label>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
      
</div>
<!-- form ends here -->

{%endblock body%}
